# Environment Variables
.env
*.env

# Node Dependencies
node_modules/

# Generated Assets
backend/src/controllers/charts/*.png

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
